@model OctopusApp.Models.NewRecipeViewModel

@{
    ViewBag.Title = "New Recipe";
}

<h2>New Recipe</h2>

<div class="row">
    <div class="col-md-3">
        <h3>Currect Recipes</h3>
        <ul class="current-recipes">
            @foreach (var recipe in @Model.OctopusRecipes)
            {
                <li>
                    @recipe.Name
                    <br/>
                    <a href="#" class="add-recipe" data-id="@recipe.Id">Add To List</a>
                </li>
            }
        </ul>
    </div>

    <div class="col-md-5">
        <div class="recipe-accordion component-list">
            @foreach (var recipe in @Model.OctopusRecipes)
            {
                <h3 style="display: none" id="@recipe.Id">@recipe.Name</h3>
                <div>
                    <ul class="recipe-components">
                        @foreach (var component in @recipe.DeploymentComponents)
                        {
                            <li>
                                <span>
                                    <span class="name">@component.ProjectName</span>
                                    <br/>
                                    <span class="version">Version: @component.ReleaseVersion</span>
                                    <span style="display: none" class="id">@component.Id</span>
                                </span>
                                <a href="#" class="add-to-recipe">Add</a>
                                <br />
                                <span class="duplicate-error"></span>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>

    <div class="col-md-4">
        <h3>Recipe</h3>
        <ul class="final-list">
            <li class="component-header"><span class="component-list">Component</span><span class="delete-label">Remove</span></li>
        </ul>
        
        @if (@Model.Errors.Count > 0)
        {
            foreach (var error in @Model.Errors)
            {
                <p class="error">@error</p>
            }
        }

        @using (@Html.BeginForm("NewRecipe", "Recipe", FormMethod.Post, new {@class = "new-recipe"}))
        {
            @Html.Label("Name: ")
            @Html.TextBoxFor(x => x.OctopusRecipe.Name, new {required = true})
            @Html.Label("Recipe Id: ")
            @Html.TextBoxFor(x => x.OctopusRecipe.RecipeId, new {required = true})
            @Html.Label("Source Environment Name: ")
            @Html.TextBoxFor(x => x.OctopusRecipe.SourceEnvironmentName, new {required = true})
            @Html.Label("Source Environment Id: ")
            @Html.TextBoxFor(x => x.OctopusRecipe.SourceEnvironmentId, new {required = true})
            <input type="submit" class="btn btn-primary" value="Save Recipe"/>
        }
    </div>
</div>